@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'mainFont';
    src: url('./lib/assets/fonts/coolvetic.otf');
}

:root {
    --background: #18232e;
    --primary: #80d3ff;
    --primary-transparent: #80d3ffa8;
    --secondary: #202d3a;
    --third: #334455;
    --semi-transparent: #fff5;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: var(--background);
    color: white;
}

body::-webkit-scrollbar, div::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical, div::-webkit-scrollbar:vertical {
    width: 0px;
}

body::-webkit-scrollbar-button:increment, div::-webkit-scrollbar-button:increment
.contenedor::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal, div::-webkit-scrollbar:horizontal {
    height: 0px;
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 20px;
    border: none;
}

body::-webkit-scrollbar-track, div::-webkit-scrollbar-track {
    border-radius: 10px;
}